<div class="contact">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
            <%= value %>
        </div>
    <% end %>
    <h1>Give us a shout!</h1>
    <%= simple_form_for @contact do |f| %>
        <%= f.input :name, required: true %>
        <%= f.input :email, required: true %>
        <%= f.input :message, as: :text, required: true %>
        <div class="hidden">
            <%= f.input :nickname %>
        </div>
        <br />
        <%= f.button :submit, 'Send message!', class: "button"%>
    <% end %>
</div>
