<li class="clearfix duplicatable-nested-form">
    <% if p.object.image.length > 1 %>
        <%= image_tag(p.object.image)  %>
    <% end %>
    <%= p.file_field :image %>
    <%= p.text_field :title %>
    <% if p.object.new_record? %>
        <%= link_to "Remove picture", "", remote: true, class: "remove-duplicate-nested-form button" %>
    <% else %>
        <%= link_to "Remove picture", gallery_picture_path(@gallery, p.object), method: :delete, remote: true, class: "remove-duplicate-nested-form button" %>
    <%= p.hidden_field :id %>
    <% end %>
</li>
