<div class="new-form">
    <%= form_for @gallery do |f| %>
        <%= f.label :title %><br />
        <%= f.text_field :title %><br /><br />
        <%= f.label :synopsis %><br />
        <%= f.text_area :synopsis %><br /><br />
        <%= f.submit %>
    <% end %>
</div>
