<div class="gallery clearfix">
    <h1> <%= @gallery.title %> </h2>
    <% if user_signed_in? %>
        <%= link_to "Edit gallery", edit_gallery_path(), class: "button black-hover"%>
    <% end %>
    <div class="grid" data-columns>
    <% @gallery.pictures.each do |picture| %>
        <div>
            <a href="<%=picture.image%>" class="swipebox" title="<%= picture.title %>">
            <%= cl_image_tag(picture.image) %>
            </a>
        </div>
    <% end %>
    </div>
</div>
<%= javascript_include_tag 'exclusive/salvattore.min' %>
<script type="text/javascript">
;( function( $  ) {

            $( '.swipebox'  ).swipebox();


            }  )( jQuery  );
</script>
